.signin-container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left {
  width: 50%;
  height:160%;
  position: relative;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left::before {
  content: "";
  position: absolute;
  background: url(../../Assests/login.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0.2;
}
.right {
  width: 50%;
  height: 50%;
  padding: 30px;
}
.signin-box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.signin-box-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signin-box-text h1 {
  color: #333;
  text-align: center;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
  letter-spacing: 0.2px;
}
.signin-box-text span {
  color: var(--Greyscale-500, #64748b);
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.input-box-inputs {
  width: 95%;
  height: 400px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.signin-box-input-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 20px;
}
.signin-box-input-box input {
  display: flex;
  width: 404px;
  height: 56px;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid var(--Greyscale-200, #e2e8f0);
}
.PhoneInputCountry {
  position: absolute !important;
}
.signin-page-login-btn {
  margin-top: 20px;
}
.signin-page-login-btn button {
  display: flex;
  width: 404px;
  height: 56px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #3563e9;
  border: none;
  cursor: pointer;
  color: white;
}
.other-login-option {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ask-signup a {
  color: var(--blue, #3563e9);
  text-decoration: none;
}
.or {
  text-align: center;
}
.or span {
  color: var(--gray, #90a3bf);
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.other-option {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.other-option-box {
  width: 404px;
  height: 55px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.other-option-box-logo {
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.other-option-box-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 980px) {
  .signin-container {
    height: fit-content;
  }
  .signin-box {
    height: fit-content;
    padding: 20px;
  }
  .signin-box-inputs {
  }
}
@media screen and (max-width: 450px) {
  .signin-box-input-box input {
    width: 304px;
  }
  .phone-input {
    width: 304px;
  }
  .signin-page-login-btn button {
    width: 304px;
  }
  .signin-box {
    margin-top: 150px;
  }
}
