.contact-container {
}
.contact-section {
  width: 100%;
  background: #f6f7f9;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box {
  width: 90%;
  height: fit-content;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.contact-box-left {
  width: 30%;
  height: 702.429px;
  border-radius: 20px;
  background: var(--blue, #3563e9);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.contact-box-right {
  width: 65%;
  height: fit-content;
}
.contact-box-left-heading span {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
  letter-spacing: 0.48px;
}
.contact-box-text {
  width: 292px;
}
.contact-box-text span {
  color: rgba(255, 255, 255, 0.6);
  font-family: " SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
}
.personal-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.personal-info-box {
  width: 100%;
  display: flex;
  gap: 30px;
}
.personal-onfo-logo {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-info-text span {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
}
.contact-box-right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-box-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-box-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-box-input-box span {
  color: #252525;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
}
.contact-box-input-box input {
  width: 306px;
  height: 54px;
  border-radius: 8px;
  background: #f6f7f9;
  border: none;
}
.contact-message-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-message-box span {
  color: #252525;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.36px;
}
.contact-message-box input {
  width: 95%;
  height: 289px;
  border-radius: 8px;
  background: #f6f7f9;
  border: none;
}
.contact-box-btn {
  width: 95%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.contact-box-btn button {
  display: flex;
  width: 180.929px;
  height: 47.893px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  background: var(--blue, #3563e9);
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1333px) {
  .contact-box-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1220px) {
  .contact-box {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .contact-box-left {
    width: 100%;
  }
  .contact-box-right {
    width: 100%;
  }
  .contact-box-inputs {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}
@media screen and (max-width: 530px) {
  .contact-box {
    width: 100%;
  }
  .contact-section {
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .contact-box-input-box input {
    width: 250px;
  }
}
