.home-container {
 
  /* gap: 70px; */
}
.car-cards {
 
}
.car-cards-top {
 
}
.car-cards-top span {
 
}
.car-cards-top span a {

}
.car-card-boxses {
 
}
.services-section {
 
}
.services-heading {
 
}
.services-heading h3 {
  
}
.services-box {
  
}
.services-cards {
  
}
.services-card {
  
}
.services-card-logo {
  
}
.service-card-heading h3 {

}
.service-card-text {

}
.service-card-text span {

}
.subscribe-section {
  
}
.subscribe-container {

}
.subscribe-container::before {

}
.subscribe-text {
  
}
.subscribe-text h1 {
 
}
.subscribe-text h2 {
 
}
.subscribe-input-text span {
  
}
.subscribe-input-box {
  
}
.subscribe-input-box input {
  
}
.subscribe-input-box button {
 
}
@media screen and (max-width: 1320px) {
  .subscribe-container {
  
  }
}
@media screen and (max-width: 1120px) {
  .services-cards {
  
  }
  .services-box {
   
  }
  .services-section {

  }
  .subscribe-text h1 {
   
  }
  .subscribe-text h2 {
   
  }
  .subscribe-container {
   
  }
  .subscribe-input-text span {
   
  }
  .subscribe-input-box {
  
  }
  .subscribe-input-box button {
   
  }
}
@media screen and (max-width: 820px) {
  .subscribe-input-box {
   
  }
  .subscribe-text h1 {
  
  }
  .subscribe-text h2 {
   
  }

  .subscribe-input-text span {
    
  }
}
@media screen and (max-width: 620px) {
  .services-heading h3 {
   
  }
  .car-card-boxses {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 570px) {
  .subscribe-input-box {
    width: 358px;
    height: 63px;
    padding: 0px 5px 0px 5px;
  }
}
@media screen and (max-width: 570px) {
  .subscribe-input-box {
   
  }
  .subscribe-input-box button {
  
  }
  .subscribe-input-box input {
   
  }
  .subscribe-text h1 {
    
  }
  .subscribe-text h2 {
  
  }

  .subscribe-input-text span {
   
  }
  .car-cards {
   
  }
  .services-section {
    
  }
}
