.navbar-container{
    width: 100%;
    height: 130px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
.nav-link ul{
 display: flex;
 list-style: none;
 gap: 40px;
}.nav-link ul li a{
    text-decoration: none;
    color: black;
    color: #000;
    font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nav-link ul li{
    position: relative;
}
.nav-link ul li::before{
    content: '';
    position:absolute ;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #5EABFF;
    border-radius: 10px;
    /* display: none; */
}


.user-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5EABFF;
    display:flex ;
    align-items: center;
    justify-content: center;
   
}
.user{
    gap: 20px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user span{
    color: #000;
    font-family: 'Roboto';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
